<!doctype html>
<html>
	<head>
    {% include "../includes/head.twig" %}
    </head>
<body>	
    
	<!-- HEADER -->
    {% include "../includes/_header.html.twig" %}
    
    <!-- MAIN -->
    <main>		
		{% block content %}
			<!-- [Start] Hero -->
			<section class="l-section hero">
				<div class="l-container text-center">
					<h2 class="l-section__title">Integer bibendum sit amet<br>arcu vel egestas.</h2>
					<div class="grid-container grid--item--3 clearfix">
						<div class="grid__item services__item">
							<a href="#">
								<div class="services__box">
									<div class="img__box"><img src="images/transparent.png" class="service__icon icon--1" alt="Service Name" title=""></div>
									<div class="name">Service Name</div>
								</div>
							</a>
						</div>
						<div class="grid__item services__item">
							<a href="#">
								<div class="services__box">
									<div class="img__box"><img src="images/transparent.png" class="service__icon icon--2" alt="Service Name" title=""></div>
									<div class="name">Service Name</div>
								</div>    
							</a>
						</div>
						<div class="grid__item services__item">
							<a href="#">
								<div class="services__box">
									<div class="img__box"><img src="images/transparent.png" class="service__icon icon--3" alt="Service Nam" title=""></div>
									<div class="name">Service Name</div>
								</div>    
							</a>
						</div>            
					</div>
					<a href="JavaScript:Void(0)" class="scroll-link">Scroll Down <img src="images/down-arrow.png" class="" alt="Arrow Icon" title=""></a>
				</div>
			</section>    
			<!-- [End] Hero -->
			
			<!-- [Start] Stories -->
			<section id="storiesBox" class="l-section stories">
				<div class="l-container">
					<h2 class="l-section__title text-center title--color">Our Success Stories</h2>
					<p class="l-short__desc text-center title--color title--font--small">Here are some of the grates works from our arsenal</p>
					<div class="grid-container grid--item--4 clearfix">
						<div class="grid__item stories__item">
							<a href="#">
								<div class="img__box">
									<img src="https://via.placeholder.com/270x150" alt="Stories Title" title="">
								</div>
								<div class="desc__box">
									<p class="text">Mauris at quam at mauris venenatis eleifend eleifend odio a pretium</p>
									<span class="name">Service / Solution Name</span>
								</div>
							</a>
						</div>
						<div class="grid__item stories__item">
							<a href="#">
								<div class="img__box">
									<img src="https://via.placeholder.com/270x150" alt="Stories Title" title="">
								</div>
								<div class="desc__box">
									<p class="text">Mauris at quam at mauris venenatis eleifend eleifend odio a pretium</p>
									<span class="name">Service / Solution Name</span>
								</div>
							</a>
						</div>
						<div class="grid__item stories__item">
							<a href="#">
								<div class="img__box">
									<img src="https://via.placeholder.com/270x150" alt="Stories Title" title="">
								</div>
								<div class="desc__box">
									<p class="text">Mauris at quam at mauris venenatis eleifend eleifend odio a pretium</p>
									<span class="name">Service / Solution Name</span>
								</div>
							</a>
						</div>
						<div class="grid__item stories__item">
							<a href="#">
								<div class="img__box">
									<img src="https://via.placeholder.com/270x150" alt="Stories Title" title="">
								</div>
								<div class="desc__box">
									<p class="text">Mauris at quam at mauris venenatis eleifend eleifend odio a pretium</p>
									<span class="name">Service / Solution Name</span>
								</div>
							</a> 
						</div>
					</div>
				</div>
			</section>
			<!-- [End] Stories -->
			
			<!-- [Start] About -->
			<section class="l-section about">
				<div class="l-container">
					<div class="grid-container grid--item--2">
						<div class="about__desc-box grid__item">
							<h2 class="l-section__title title--color title--mb20">Mauris id bibendum est. Proin dapibus sollicitudin iaculis, Maecenas condimentum maximus laoreet.</h2>
							<p class="about__text">In maximus euismod egestas. Fusce tincidunt posuere est non elementum. Vivamus tincidunt eleifend nisl et gravida. Aenean in lorem ultrices, pellentesque augue eu, mattis est. Praesent sed volutpat nibh. Morbi faucibus tortor sed neque vulputate hendrerit. Sed aliquam mattis purus eleifend consectetur. Nulla mollis non enim non tempus.</p>
						</div>
						<div class="about__img-box grid__item"><img src="images/about-image.jpg" alt="About" title=""></div>
					</div>    	
				</div>
			</section>
			<!-- [End] About -->
			
			<!-- [Start] Testimonial -->
			<section class="l-section testimonial">	
				<h2 class="l-section__title text-center title--color title--mb40">Testimonials</h2>
				<div class="testimonial__slider clearfix">
					<div>
						<div class="testimonial-item">
							<a href="#">
								<div class="testimonial__desc">
									<div class="text"><img src="images/qoutes-icon.png" class="qoutes__icon" alt="Qoutes Icon" title="">Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.</div>
								</div>
								<div class="testimonial__client clearfix">
									<div class="img__box l-left">
										 <img src="images/boy-icon.png" class="" alt="Client Icon" title="">
									</div>    
									<div class="desc__box l-left">
										<span class="name">CLIENT NAME</span>
										<span class="position">Position, ORG</span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div>
						<div class="testimonial-item">
							<a href="#">
								<div class="testimonial__desc">
									<div class="text"><img src="images/qoutes-icon.png" class="qoutes__icon" alt="Qoutes Icon" title="">Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.</div>
								</div>
								<div class="testimonial__client clearfix">
									<div class="img__box l-left">
										 <img src="images/boy-icon.png" class="" alt="Client Icon" title="">
									</div>    
									<div class="desc__box l-left">
										<span class="name">CLIENT NAME</span>
										<span class="position">Position, ORG</span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div>
						<div class="testimonial-item">
							<a href="#">
								<div class="testimonial__desc">
									<div class="text"><img src="images/qoutes-icon.png" class="qoutes__icon" alt="Qoutes Icon" title="">Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.</div>
								</div>
								<div class="testimonial__client clearfix">
									<div class="img__box l-left">
										 <img src="images/boy-icon.png" class="" alt="Client Icon" title="">
									</div>    
									<div class="desc__box l-left">
										<span class="name">CLIENT NAME</span>
										<span class="position">Position, ORG</span>
									</div>
								</div>
							</a>
						</div>					
					</div>
					<div>
						<div class="testimonial-item">
							<a href="#">
								<div class="testimonial__desc">
									<div class="text"><img src="images/qoutes-icon.png" class="qoutes__icon" alt="Qoutes Icon" title="">Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.</div>
								</div>
								<div class="testimonial__client clearfix">
									<div class="img__box l-left">
										<img src="images/boy-icon.png" class="" alt="Client Icon" title="">
									</div>    
									<div class="desc__box l-left">
										<span class="name">CLIENT NAME</span>
										<span class="position">Position, ORG</span>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>    
			</section>
			<!-- [End] Testimonial -->
			
			<!-- [Start] Contact -->
			<section class="l-section contact">
				<div class="l-container">
					<h2 class="l-section__title text-center">Convinced To Work With Us?</h2>
					<p class="l-short__desc text-center">Company has helped agencies keep their promises to clients since 2005.</p>
					<form>
						<div class="form-inline">
							<div class="form__group clearfix">
								<div class="grid-container grid--item--3">
									<div class="grid__item"><input type="text" class="form__control" placeholder="Full Name"></div>
									<div class="grid__item"><input type="text" class="form__control" placeholder="Email Address"></div>
									<div class="grid__item"><input type="text" class="form__control" placeholder="Phone Number"></div>
								</div>
							</div>            	
							<div class="form__group grid-container"><textarea class="form__control form--height" placeholder="Message in brif"></textarea></div>
							<div class="text-center"><input type="Submit" class="btn btn--width"></div>
						</div>
					</form>
				</div>
			</section>
			<!-- [End] Contact -->
		{% endblock %}		
    </main>

    <!-- FOOTER -->
    {% include "../includes/_footer.html.twig" %}

    <!-- SCRIPTS -->
    {% include "../includes/scripts.twig" %}

</body>
</html>