<!-- [Start] Footer -->
<footer class="footer l__footer">
	<div class="l-container clearfix">
    	<div class="copyright l-left">&copy; 2017 Company. All Rights Reserved.</div>
        <div class="followus l-right">Follow us on: <a href="#"><img src="images/transparent.png" class="follow__icon fb--icon" alt="Facebook" title=""></a><a href="#"><img src="images/transparent.png" class="follow__icon linkedin--icon" alt="LinkeDin" title=""></a><a href="#"><img src="images/transparent.png" class="follow__icon twitter--icon" alt="" title="Twitter"></a><a href="#"><img src="images/transparent.png" class="follow__icon email--icon" alt="Email" title=""></a></div>
    </div>
</footer>
<!-- [End] Footer -->

