<!-- [Start] Header -->
<header class="header l__header">
	<div class="l-container clearfix">
    	<nav id="nav">
			<span class="nav-icon"></span>
			<ul class="menu l-right">
				<li class="menu__item"><a href="#" class="menu__link">About <img src="images/transparent.png" class="menu__arrow" alt="Dropdown Arrow" title=""></a>
					<ul class="dropdown">
						<li><a href="#">Our Story</a></li>
						<li><a href="#">Why Company</a></li>
						<li><a href="#">Success Stories</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</li>
				<li class="menu__item"><a href="#" class="menu__link">Services</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Solutions</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
				<li class="menu__item"><a href="#" class="menu__link btn"><img src="images/message-icon.png" class="msg-icon" alt="Get In Touch" title=""> Get In Touch</a></li>
			</ul>
		</nav>
		<a href="#" class="mob-getin-link l-left"><img src="images/message-icon.png" class="msg-icon" alt="Get In Touch" title=""></a>		        
		<a href="/" class="logo l-left"><img src="images/logo.png" alt="Company Logo" title=""></a>		
    </div>	
</header>
<!-- [End] Header -->