.btn {
	background: $color-orange;
	color: $color-white;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 20px;
	display: inline-block;	
	border: 0;
	cursor: pointer; 
	border-radius: 30px;
}

.btn--width { min-width: 120px; }